body{
  background-color: #181D31;
}
h1{
  text-align: center;
  color: #FEFBF6;
}
button{
  background-color: #3D3C42;
  color: #FEFBF6;
  padding: 1em;
  position: absolute;
  bottom: 5%;
  left: 5%;
  border: none;
}
button:hover{
  background-color: #42855B;
  transition: all 1s;
  cursor: pointer;
}
/* Loading */
.load-page{
  width: 50%;
  margin: auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}